*{
    
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
#container{
    
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    height: 100vh;    
}
#side-bar{
    background-color: antiquewhite;
    padding:30px ;
}
button{
    margin-bottom: 15px;
    border: none;
    width: 10em;
    height: 3em;
}
